@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Anton", sans-serif;
  background-color: #fbe8d3;
  color: #283c63;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
h1 {
  position: relative;
}
h1 button {
  position: absolute;
  right: 0;
  transform: translate(120%, -50%);
  z-index: 2;
}
.btn {
  background-color: #f85f73;
  border: 1px solid #283c63;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 15px;
  margin-top: 20px;
  font-family: "Anton", sans-serif;
  cursor: pointer;
}
.btn-small {
  font-size: 12px;
  padding: 5px 10px;
}
.btn-ghost {
  border: 0;
  background-color: transparent;
}
.clear {
  position: absolute;
  bottom: 200px;
  left: 130px;
}
.cards {
  perspective: 1000px;
  position: relative;
  height: 300px;
  width: 500px;
  max-width: 100%;
}
.card {
  position: absolute;
  font-size: 1.5em;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(50%) rotateY(-10deg);
  transition: transform 0.4s ease-in, opacity 0.4 ease-in;
}
.card.active {
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  transform: translateX(0) rotateY(0deg);
}
.card.left {
  transform: translateX(-50%) rotateY(10deg);
}

.inner-card {
  box-shadow: 0 1px 10px #928a97;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in;
}
.card.show-answer .inner-card {
  transform: rotateX(180deg);
}
.inner-card-front,
.inner-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.inner-card-front {
  transform: rotateX(0deg);
  z-index: 2;
}
.inner-card-back {
  transform: rotateX(180deg);
}
.inner-card-front::after,
.inner-card-back::after {
  content: "\f021 Flip";
  font-family: "Font Awesome 5 Free", sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #928a97;
}
.navigation {
  display: flex;
  margin: 20px 0;
}
.navigation .nav-button {
  border: none;
  background-color: #928a97;
  cursor: pointer;
  font-size: 16px;
}
.navigation p {
  margin: 0 25px;
}
.add-container {
  z-index: -1;
  opacity: 0;
  background-color: #928a97;
  border-top: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: 0.3s ease;
}
.add-container.show {
  opacity: 1;
  z-index: 2;
}
.add-container h3 {
  margin: 10px 0;
}
.form-group label {
  display: block;
  margin: 20px 0 10px;
}
.form-group textarea {
  border: 1px solid #f85f73;
  border-radius: 5px;
  font-size: 16px;
  padding: 12px;
  min-width: 500px;
  max-width: 100%;
}
