@import url("https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #f0e2d0;
  color: #4d3122;
  font-family: "Lakki Reddy", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}
h1 {
  margin: 20px 0 0;
}
.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}
.figure-container {
  fill: transparent;
  stroke: #000000;
  stroke-width: 4px;
  stroke-linecap: round;
}
.figure-part {
  display: none;
}
.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.wrong-letters-container p {
  color: #70af85;
  text-decoration: underline;
  margin: 0 0 5px;
}
.wrong-letters-container span {
  font-size: 24px;
}
.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.letter {
  border-bottom: 3px solid #70af85;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}
.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}
.popup {
  background-color: #70af85;
  border-radius: 10px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
.popup button {
  cursor: pointer;
  background-color: #4d3122;
  color: #f0e2d0;
  border: 0;
  margin-top: 20px;
  padding: 12px 60px;
  font-size: 16px;
  transition: all 0.5s;
}
.popup button:active {
  transform: scale(0.9);
}
.popup button:focus {
  outline: 0;
}
.notification-container {
  background-color: #4d3122;
  color: #70af85;
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -100px;
  transition: transform 0.3s ease-in-out;
}
.notification-container p {
  margin: 0;
}
.notification-container.show {
  transform: translateY(-100px);
}
