@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Combo", cursive;
  background-color: #a7c5eb;
  color: #cd5d7d;
  margin: 0;
}
.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flex {
  display: flex;
}
input,
button {
  border: 1px solid #949cdf;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 8px 10px;
  margin: 0;
  font-size: 1rem;
}
input[type="text"] {
  width: 300px;
  font-family: "Combo", cursive;
  border-right: none;
}
.search-btn {
  cursor: pointer;
  border-left: none;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.random-btn {
  cursor: pointer;
  margin-left: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.meal {
  cursor: pointer;
  position: relative;
  height: 180px;
  width: 180px;
  text-align: center;
}
.meal img {
  width: 100%;
  height: 100%;
  border: 4px solid #949cdf;
  border-radius: 5px;
}
.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.meal:hover .meal-info {
  opacity: 1;
}
.single-meal {
  margin: 30px auto;
  width: 90%;
}
.single-meal img {
  width: 300px;
  margin: 15px;
  border: 5px solid #949cdf;
  border-radius: 5px;
}
.single-meal-info {
  margin: 20px;
  padding: 10px;
  border: 2px dashed #cd5d7d;
  font-weight: bold;
  font-size: 2rem;
}
.single-meal p {
  margin: 10px;
  letter-spacing: 1px;
  line-height: 1.5;
}
.single-meal ul {
  padding: 0;
  list-style-type: none;
}
.single-meal ul li {
  border: 1px solid #f6ecf0;
  border-radius: 5px;
  background-color: #949cdf;
  color: #f6ecf0;
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .meals {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .meals {
    grid-template-columns: repeat(2, 1fr);
  }
  .meal {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 500px) {
  input[type="text"] {
    width: 100%;
  }
  .meals {
    grid-template-columns: 1fr;
  }
  .meal {
    height: 300px;
    width: 300px;
  }
}
